<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
 <head>
  <meta charset='utf-8'>
  <title> 添加学生 </title>
  <script type='text/javascript'>
  </script>
 </head>
 <body>
  <form action='../control/insertStuAction.php' name='#' method='post'>
	学生编号 :<input type='text' name='id'/><br/>
	学生姓名 :<input type='text' name='name'/><br/>
	语文成绩 :<input type='text' name='chinese'/><br/>
	英语成绩 :<input type='text' name='english'/><br/>
	数学成绩 :<input type='text' name='math'/><br/>
	<input type='submit' value='添加学生'/>
  </form>
 </body>
</html>
